
.button {
background-color: #ffffcc;
color: black;
padding: 15px 32px;
text-decoration: none;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 10px;
border: 1px solid;
padding: 10px;
box-shadow: 5px 10px 18px #888888;

}
.button :hover{
transform: scale(0.5);
}
#side_bar{
  padding-top: 150px;
}
.logo {
    position: relative;
}
#cseLogo img {
    position: absolute;
    top: 15px;
    right: 20px;
    height:100px;
    width: 150px;
}
#cetLogo img {
    position: absolute;
    top: 0px;
    left: 0px;
    height:100px;
    width: 150px;
}
.navbar {
  position: absolute;
  top: 150px;
  left: 15px;
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
    radius:10px;

}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
        transition: 0.5s;
}


.navbar a:hover{
    background-color: #A9A9A9;
    color: black;
}

h1{
  color: #7c795d;
  font-size: 30px;
  font-weight: 250px;
  letter-spacing: -1px;
}
